$back-color: #16213e;
$input-color: #0f3460;

.switch-container {
  grid-template-columns: auto 50px auto;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  min-width: 340px;
  height: fit-content;

  &.two {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(160px, 235px));
  }

  &.three {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 150px));
  }
}

.parameter {
  width: 100%;
  border-radius: 8px;
  height: fit-content;
  display: flex;

  &.spacebetween {
    justify-content: space-between;
  }

  &.flex-column {
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.left {
      align-items: flex-start;
    }
  }

  &.flex-row {
    gap: 5px;
    flex-direction: row;
    align-items: center;

    &.center {
      justify-content: center;
    }

    &.left {
      justify-content: flex-start;
    }
  }

  &.gap40 {
    gap: 40px;
  }

  &.big {
    min-height: 100px;
  }

  &.xl {
    min-height: 150px;
  }

  &.small {
  }

  &.color {
    background-color: $back-color;
  }

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
  }

  .info {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
  }
}

.temp-container {
  .temp {
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
  }
}

.source {
  font-weight: 300;
  color: #c1c1c1;
  &.selected {
    font-weight: bold;
    color: #ffffff;
  }
}

.main-container {
  max-width: 490px;
  margin: auto;
}

input[type="number"] {
  background: #0f3460;
  border-radius: 8px;
  height: 40px;
  width: 140px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
}

.mg-btm20 {
  margin-bottom: 20px;
}

.mg-btm10 {
  margin-bottom: 10px;
}

.weather-container {
  margin: 40px 0px;
}

.p-20 {
  padding: 20px 0px;
}
button[type="button"] {
  background-color: aquamarine;
  padding: 10px 20px;
  border: none;
  font: inherit;
  outline: none;
  border-radius: 8px;
}

.icon {
  &.s40 {
    max-width: 40px;
    max-height: 40px;
  }
  &.s80 {
    max-width: 80px;
    max-height: 80px;
  }
}
